/**
 * Variable colors
 */

$darkPink: #cd0039;
$pink: #ef2751;

$green: #00B042;
$darkGreen: #0e7b37;

$yellow: #ffc75f;

$blue: #0065D2;
$darkBlue: #0042B8;

$darkGrey: #121317;
$grey: #212327;
$lightGrey: #2F2F2F;


/* Fonts */